@font-face {
  font-family: "pfi";
  src: url('pfi.eot?t=1676227809107'); /* IE9*/
  src: url('pfi.eot?t=1676227809107#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("pfi.woff2?t=1676227809107") format("woff2"),
  url("pfi.woff?t=1676227809107") format("woff"),
  url('pfi.ttf?t=1676227809107') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('pfi.svg?t=1676227809107#pfi') format('svg'); /* iOS 4.1- */
}

[class^="pfi"], [class^="pfi-"], [class*=" pfi-"] {
  font-family: 'pfi' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i[class^="pfi"], i[class^="pfi-"], i[class*=" pfi-"] {
  line-height: 100%;
}

.pfi-88:before { content: "\ea04"; }
.pfi-360:before { content: "\ea01"; }
.pfi-555:before { content: "\ea03"; }
.pfi-3d-printer:before { content: "\ea02"; }
.pfi-admin-alt-1:before { content: "\ea05"; }
.pfi-admin:before { content: "\ea06"; }
.pfi-agriculture:before { content: "\ea07"; }
.pfi-airplane:before { content: "\ea08"; }
.pfi-alarm-strobe-lit:before { content: "\ea09"; }
.pfi-alarm-strobe:before { content: "\ea0a"; }
.pfi-alert-bell-active:before { content: "\ea0b"; }
.pfi-alert-bell:before { content: "\ea0c"; }
.pfi-alert-circle:before { content: "\ea0d"; }
.pfi-alert-octagon:before { content: "\ea0e"; }
.pfi-alert-triangle:before { content: "\ea0f"; }
.pfi-align-center:before { content: "\ea10"; }
.pfi-align-left:before { content: "\ea11"; }
.pfi-align-right:before { content: "\ea12"; }
.pfi-animal-beaver:before { content: "\ea13"; }
.pfi-animal-cow:before { content: "\ea14"; }
.pfi-animal-deer:before { content: "\ea15"; }
.pfi-animal-goat:before { content: "\ea16"; }
.pfi-animal-rooster-alt-1:before { content: "\ea17"; }
.pfi-animal-rooster:before { content: "\ea18"; }
.pfi-animal-squirrel:before { content: "\ea19"; }
.pfi-antenna-tower:before { content: "\ea1a"; }
.pfi-anvil:before { content: "\ea1b"; }
.pfi-app-generic-alt-1:before { content: "\ea1c"; }
.pfi-app-generic-alt-2:before { content: "\ea1d"; }
.pfi-app-generic-alt-3:before { content: "\ea1e"; }
.pfi-app-generic:before { content: "\ea1f"; }
.pfi-app-mgmt-alt-1:before { content: "\ea20"; }
.pfi-app-mgmt:before { content: "\ea21"; }
.pfi-app-store-alt-1:before { content: "\ea22"; }
.pfi-app-store-alt-2:before { content: "\ea23"; }
.pfi-app-store-alt-3:before { content: "\ea24"; }
.pfi-app-store-f-droid:before { content: "\ea25"; }
.pfi-app-store-google-play:before { content: "\ea26"; }
.pfi-app-store-ios:before { content: "\ea27"; }
.pfi-app-store:before { content: "\ea28"; }
.pfi-apron:before { content: "\ea29"; }
.pfi-archaeology:before { content: "\ea2a"; }
.pfi-arrow-down:before { content: "\ea2b"; }
.pfi-arrow-left:before { content: "\ea2c"; }
.pfi-arrow-right:before { content: "\ea2d"; }
.pfi-arrow-up:before { content: "\ea2e"; }
.pfi-article-alt-1:before { content: "\ea2f"; }
.pfi-article:before { content: "\ea30"; }
.pfi-asterisk:before { content: "\ea31"; }
.pfi-astro-moon:before { content: "\ea32"; }
.pfi-astro-planet-earth:before { content: "\ea33"; }
.pfi-astro-planet-jupiter:before { content: "\ea34"; }
.pfi-astro-planet-mars:before { content: "\ea35"; }
.pfi-astro-planet-mercury:before { content: "\ea36"; }
.pfi-astro-planet-neptune:before { content: "\ea37"; }
.pfi-astro-planet-saturn:before { content: "\ea38"; }
.pfi-astro-planet-uranus:before { content: "\ea39"; }
.pfi-astro-planet-venus:before { content: "\ea3a"; }
.pfi-astro-pluto:before { content: "\ea3b"; }
.pfi-audio-book:before { content: "\ea3c"; }
.pfi-audio:before { content: "\ea3d"; }
.pfi-auto-bus:before { content: "\ea3e"; }
.pfi-auto-camper-alt-1:before { content: "\ea3f"; }
.pfi-auto-camper:before { content: "\ea40"; }
.pfi-auto-car:before { content: "\ea41"; }
.pfi-auto-semi-truck:before { content: "\ea42"; }
.pfi-auto-tire-alt-1:before { content: "\ea43"; }
.pfi-auto-tire:before { content: "\ea44"; }
.pfi-auto-tow-truck:before { content: "\ea45"; }
.pfi-auto-tractor:before { content: "\ea46"; }
.pfi-auto-trailer:before { content: "\ea47"; }
.pfi-auto-truck-pickup:before { content: "\ea48"; }
.pfi-backpack:before { content: "\ea49"; }
.pfi-badge:before { content: "\ea4a"; }
.pfi-balloon:before { content: "\ea4b"; }
.pfi-bandaid:before { content: "\ea4c"; }
.pfi-barcode:before { content: "\ea4d"; }
.pfi-barn:before { content: "\ea4e"; }
.pfi-barrel:before { content: "\ea4f"; }
.pfi-battery-0:before { content: "\ea50"; }
.pfi-battery-100:before { content: "\ea51"; }
.pfi-battery-25:before { content: "\ea52"; }
.pfi-battery-50:before { content: "\ea53"; }
.pfi-battery-75:before { content: "\ea54"; }
.pfi-battery-bolt:before { content: "\ea55"; }
.pfi-beard-alt-1:before { content: "\ea56"; }
.pfi-beard:before { content: "\ea57"; }
.pfi-bed:before { content: "\ea58"; }
.pfi-beverage-coffee-bean:before { content: "\ea59"; }
.pfi-beverage-coffee-cup-hot:before { content: "\ea5a"; }
.pfi-beverage-coffee-cup:before { content: "\ea5b"; }
.pfi-beverage-coffee-pot:before { content: "\ea5c"; }
.pfi-beverage-tea-bag:before { content: "\ea5d"; }
.pfi-beverage-tea-cup-hot:before { content: "\ea5e"; }
.pfi-beverage-tea-cup:before { content: "\ea5f"; }
.pfi-binary:before { content: "\ea60"; }
.pfi-blender:before { content: "\ea61"; }
.pfi-blog:before { content: "\ea62"; }
.pfi-bluetooth:before { content: "\ea63"; }
.pfi-bold:before { content: "\ea64"; }
.pfi-book-alt-1:before { content: "\ea65"; }
.pfi-book-alt-2:before { content: "\ea66"; }
.pfi-book-chapter:before { content: "\ea67"; }
.pfi-book-index:before { content: "\ea68"; }
.pfi-book-open-facing-away:before { content: "\ea69"; }
.pfi-book-open-facing-up:before { content: "\ea6a"; }
.pfi-book-page:before { content: "\ea6b"; }
.pfi-book-table-of-contents:before { content: "\ea6c"; }
.pfi-book:before { content: "\ea6d"; }
.pfi-bookmark-empty:before { content: "\ea6e"; }
.pfi-bookmark-filled:before { content: "\ea6f"; }
.pfi-bookshelf-alt-1:before { content: "\ea70"; }
.pfi-bookshelf:before { content: "\ea71"; }
.pfi-bootstrap:before { content: "\ea72"; }
.pfi-bow-tie:before { content: "\ea73"; }
.pfi-bow:before { content: "\ea74"; }
.pfi-box-closed:before { content: "\ea75"; }
.pfi-box-pack:before { content: "\ea76"; }
.pfi-box-ship:before { content: "\ea77"; }
.pfi-box-unpack:before { content: "\ea78"; }
.pfi-box:before { content: "\ea79"; }
.pfi-boxes:before { content: "\ea7a"; }
.pfi-brain:before { content: "\ea7b"; }
.pfi-breakout:before { content: "\ea7c"; }
.pfi-bug-ant:before { content: "\ea7d"; }
.pfi-bug-bee:before { content: "\ea7e"; }
.pfi-bug-moth:before { content: "\ea7f"; }
.pfi-bug-wasp-hornet:before { content: "\ea80"; }
.pfi-bug:before { content: "\ea81"; }
.pfi-building-multi-story-alt-1:before { content: "\ea82"; }
.pfi-building-multi-story-wings:before { content: "\ea83"; }
.pfi-building-multi-story:before { content: "\ea84"; }
.pfi-bullet-journal-appointment-canceled:before { content: "\ea85"; }
.pfi-bullet-journal-appointment-complete:before { content: "\ea86"; }
.pfi-bullet-journal-appointment-migrated:before { content: "\ea87"; }
.pfi-bullet-journal-appointment:before { content: "\ea88"; }
.pfi-bullet-journal-event-canceled-2:before { content: "\ea89"; }
.pfi-bullet-journal-event-canceled:before { content: "\ea8a"; }
.pfi-bullet-journal-event-complete:before { content: "\ea8b"; }
.pfi-bullet-journal-event-migrated:before { content: "\ea8c"; }
.pfi-bullet-journal-event-started:before { content: "\ea8d"; }
.pfi-bullet-journal-event:before { content: "\ea8e"; }
.pfi-bullet-journal-important-1:before { content: "\ea8f"; }
.pfi-bullet-journal-important-2:before { content: "\ea90"; }
.pfi-bullet-journal-important-done:before { content: "\ea91"; }
.pfi-bullet-journal-important:before { content: "\ea92"; }
.pfi-bullet-journal-migrate:before { content: "\ea93"; }
.pfi-bullet-journal-note:before { content: "\ea94"; }
.pfi-bullet-journal-question:before { content: "\ea95"; }
.pfi-bullet-journal-schedule-clock:before { content: "\ea96"; }
.pfi-bullet-journal-schedule:before { content: "\ea97"; }
.pfi-bullet-journal-task-canceled:before { content: "\ea98"; }
.pfi-bullet-journal-task-complete:before { content: "\ea99"; }
.pfi-bullet-journal-task-migrated:before { content: "\ea9a"; }
.pfi-bullet-journal-task-started:before { content: "\ea9b"; }
.pfi-bullet-journal-task:before { content: "\ea9c"; }
.pfi-bullet-list:before { content: "\ea9d"; }
.pfi-bullhorn:before { content: "\ea9e"; }
.pfi-calculator:before { content: "\ea9f"; }
.pfi-calendar-schedule:before { content: "\eaa0"; }
.pfi-camera-aperture:before { content: "\eaa1"; }
.pfi-camera-video:before { content: "\eaa2"; }
.pfi-camera:before { content: "\eaa3"; }
.pfi-campus:before { content: "\eaa4"; }
.pfi-cancel:before { content: "\eaa5"; }
.pfi-candle:before { content: "\eaa6"; }
.pfi-cards:before { content: "\eaa7"; }
.pfi-cart:before { content: "\eaa8"; }
.pfi-cctv:before { content: "\eaa9"; }
.pfi-certificate:before { content: "\eaaa"; }
.pfi-changelog:before { content: "\eaab"; }
.pfi-chart-bar-horizontal:before { content: "\eaac"; }
.pfi-chart-bar:before { content: "\eaad"; }
.pfi-chart-line:before { content: "\eaae"; }
.pfi-chart-pie:before { content: "\eaaf"; }
.pfi-chart-venn-tri:before { content: "\eab0"; }
.pfi-chart-venn:before { content: "\eab1"; }
.pfi-check-circle:before { content: "\eab2"; }
.pfi-check-list:before { content: "\eab3"; }
.pfi-check:before { content: "\eab4"; }
.pfi-clipboard:before { content: "\eab5"; }
.pfi-clock:before { content: "\eab6"; }
.pfi-clone:before { content: "\eab7"; }
.pfi-cms-content-management:before { content: "\eab8"; }
.pfi-code-morse-alt:before { content: "\eab9"; }
.pfi-code-morse:before { content: "\eaba"; }
.pfi-coding:before { content: "\eabb"; }
.pfi-comment-box:before { content: "\eabc"; }
.pfi-comment-left:before { content: "\eabd"; }
.pfi-comment-right:before { content: "\eabe"; }
.pfi-comments-left:before { content: "\eabf"; }
.pfi-comments-right:before { content: "\eac0"; }
.pfi-company-amazon:before { content: "\eac1"; }
.pfi-company-amd-alt:before { content: "\eac2"; }
.pfi-company-amd:before { content: "\eac3"; }
.pfi-company-american-express:before { content: "\eac4"; }
.pfi-company-apple:before { content: "\eac5"; }
.pfi-company-atari:before { content: "\eac6"; }
.pfi-company-bit-bucket:before { content: "\eac7"; }
.pfi-company-blogger:before { content: "\eac8"; }
.pfi-company-bobcat:before { content: "\eac9"; }
.pfi-company-cat:before { content: "\eaca"; }
.pfi-company-chevrolet:before { content: "\eacb"; }
.pfi-company-commodore:before { content: "\eacc"; }
.pfi-company-dhl:before { content: "\eacd"; }
.pfi-company-digikey:before { content: "\eace"; }
.pfi-company-digitalocean:before { content: "\eacf"; }
.pfi-company-docker:before { content: "\ead0"; }
.pfi-company-duckduckgo:before { content: "\ead1"; }
.pfi-company-elastic:before { content: "\ead2"; }
.pfi-company-fedex:before { content: "\ead3"; }
.pfi-company-feedly:before { content: "\ead4"; }
.pfi-company-ford:before { content: "\ead5"; }
.pfi-company-github:before { content: "\ead6"; }
.pfi-company-gitLab:before { content: "\ead7"; }
.pfi-company-google:before { content: "\ead8"; }
.pfi-company-harley-davidson:before { content: "\ead9"; }
.pfi-company-ibm:before { content: "\eada"; }
.pfi-company-intel-logo:before { content: "\eadb"; }
.pfi-company-john-deere:before { content: "\eadc"; }
.pfi-company-kubernetes:before { content: "\eadd"; }
.pfi-company-mahindra:before { content: "\eade"; }
.pfi-company-massey-ferguson:before { content: "\eadf"; }
.pfi-company-mastercard:before { content: "\eae0"; }
.pfi-company-microsoft:before { content: "\eae1"; }
.pfi-company-molex:before { content: "\eae2"; }
.pfi-company-openai:before { content: "\eae3"; }
.pfi-company-paypal:before { content: "\eae4"; }
.pfi-company-pocketbase:before { content: "\eae5"; }
.pfi-company-rolex:before { content: "\eae6"; }
.pfi-company-spacex:before { content: "\eae7"; }
.pfi-company-square:before { content: "\eae8"; }
.pfi-company-stripe:before { content: "\eae9"; }
.pfi-company-tesla-motors:before { content: "\eaea"; }
.pfi-company-ups:before { content: "\eaeb"; }
.pfi-company-venmo:before { content: "\eaec"; }
.pfi-company-visa:before { content: "\eaed"; }
.pfi-company-vmware:before { content: "\eaee"; }
.pfi-company-zelle:before { content: "\eaef"; }
.pfi-conferencing:before { content: "\eaf0"; }
.pfi-contract:before { content: "\eaf1"; }
.pfi-course-catalog:before { content: "\eaf2"; }
.pfi-course-mgmt:before { content: "\eaf3"; }
.pfi-covid:before { content: "\eaf4"; }
.pfi-crop:before { content: "\eaf5"; }
.pfi-cross:before { content: "\eaf6"; }
.pfi-crosshairs:before { content: "\eaf7"; }
.pfi-cube-download:before { content: "\eaf8"; }
.pfi-cube-login:before { content: "\eaf9"; }
.pfi-cube-logout:before { content: "\eafa"; }
.pfi-cube-share:before { content: "\eafb"; }
.pfi-cube-upload:before { content: "\eafc"; }
.pfi-cube:before { content: "\eafd"; }
.pfi-cyber:before { content: "\eafe"; }
.pfi-cycle:before { content: "\eaff"; }
.pfi-dashboard-alt-1:before { content: "\eb00"; }
.pfi-dashboard:before { content: "\eb01"; }
.pfi-database:before { content: "\eb02"; }
.pfi-desk-lamp:before { content: "\eb03"; }
.pfi-desk-research-alt-1:before { content: "\eb04"; }
.pfi-desk-research:before { content: "\eb05"; }
.pfi-desk-top:before { content: "\eb06"; }
.pfi-desk:before { content: "\eb07"; }
.pfi-diamond-empty:before { content: "\eb08"; }
.pfi-diamond-filled:before { content: "\eb09"; }
.pfi-dictionary-thesaurus:before { content: "\eb0a"; }
.pfi-disk:before { content: "\eb0b"; }
.pfi-dna-genetics:before { content: "\eb0c"; }
.pfi-document:before { content: "\eb0d"; }
.pfi-documents:before { content: "\eb0e"; }
.pfi-drafting-compass:before { content: "\eb0f"; }
.pfi-drinks:before { content: "\eb10"; }
.pfi-drive:before { content: "\eb11"; }
.pfi-drop:before { content: "\eb12"; }
.pfi-electricity-bolt:before { content: "\eb13"; }
.pfi-electronics-meter:before { content: "\eb14"; }
.pfi-email-alt-1:before { content: "\eb15"; }
.pfi-email-alt-3:before { content: "\eb16"; }
.pfi-email-alt-4:before { content: "\eb17"; }
.pfi-email:before { content: "\eb18"; }
.pfi-emoji-angry:before { content: "\eb19"; }
.pfi-emoji-cool:before { content: "\eb1a"; }
.pfi-emoji-eye-roll:before { content: "\eb1b"; }
.pfi-emoji-frown:before { content: "\eb1c"; }
.pfi-emoji-grin:before { content: "\eb1d"; }
.pfi-emoji-laugh:before { content: "\eb1e"; }
.pfi-emoji-meh:before { content: "\eb1f"; }
.pfi-emoji-smile:before { content: "\eb20"; }
.pfi-emoji-surprise:before { content: "\eb21"; }
.pfi-eraser:before { content: "\eb22"; }
.pfi-event-registration:before { content: "\eb23"; }
.pfi-event-template:before { content: "\eb24"; }
.pfi-event:before { content: "\eb25"; }
.pfi-events:before { content: "\eb26"; }
.pfi-exclamation:before { content: "\eb27"; }
.pfi-expand:before { content: "\eb28"; }
.pfi-express-checkin:before { content: "\eb29"; }
.pfi-extension-alt-1:before { content: "\eb2a"; }
.pfi-extension-alt-2:before { content: "\eb2b"; }
.pfi-extension:before { content: "\eb2c"; }
.pfi-eye-dropper:before { content: "\eb2d"; }
.pfi-eye:before { content: "\eb2e"; }
.pfi-faq:before { content: "\eb2f"; }
.pfi-feedback:before { content: "\eb30"; }
.pfi-file-cad-drafting:before { content: "\eb31"; }
.pfi-file-code:before { content: "\eb32"; }
.pfi-file-draft:before { content: "\eb33"; }
.pfi-file-raw-dna-data:before { content: "\eb34"; }
.pfi-file:before { content: "\eb35"; }
.pfi-film-clapper-board:before { content: "\eb36"; }
.pfi-film:before { content: "\eb37"; }
.pfi-filter-multiple:before { content: "\eb38"; }
.pfi-filter-single:before { content: "\eb39"; }
.pfi-filter:before { content: "\eb3a"; }
.pfi-fingerprint:before { content: "\eb3b"; }
.pfi-fire-extinguisher:before { content: "\eb3c"; }
.pfi-fire-hydrant:before { content: "\eb3d"; }
.pfi-fitness-calendar:before { content: "\eb3e"; }
.pfi-fitness-consult:before { content: "\eb3f"; }
.pfi-flag:before { content: "\eb40"; }
.pfi-flame:before { content: "\eb41"; }
.pfi-flask-meyers:before { content: "\eb42"; }
.pfi-flask:before { content: "\eb43"; }
.pfi-flux-alt-1:before { content: "\eb44"; }
.pfi-flux:before { content: "\eb45"; }
.pfi-folder-closed:before { content: "\eb46"; }
.pfi-folder-open:before { content: "\eb47"; }
.pfi-folders:before { content: "\eb48"; }
.pfi-food-egg:before { content: "\eb49"; }
.pfi-food-pizza:before { content: "\eb4a"; }
.pfi-footnote-arabic:before { content: "\eb4b"; }
.pfi-form:before { content: "\eb4c"; }
.pfi-forum-mgmt:before { content: "\eb4d"; }
.pfi-forums:before { content: "\eb4e"; }
.pfi-fuel:before { content: "\eb4f"; }
.pfi-garage:before { content: "\eb50"; }
.pfi-gear:before { content: "\eb51"; }
.pfi-gears-alt-1:before { content: "\eb52"; }
.pfi-gears:before { content: "\eb53"; }
.pfi-gift:before { content: "\eb54"; }
.pfi-glasses-alt-1:before { content: "\eb55"; }
.pfi-glasses:before { content: "\eb56"; }
.pfi-gnome:before { content: "\eb57"; }
.pfi-graduation-cap:before { content: "\eb58"; }
.pfi-grammer:before { content: "\eb59"; }
.pfi-graph-alt-1:before { content: "\eb5a"; }
.pfi-graph-alt-2:before { content: "\eb5b"; }
.pfi-graph-alt-3:before { content: "\eb5c"; }
.pfi-graph:before { content: "\eb5d"; }
.pfi-greenhouse:before { content: "\eb5e"; }
.pfi-grid-alt-1:before { content: "\eb5f"; }
.pfi-grid-table:before { content: "\eb60"; }
.pfi-grid:before { content: "\eb61"; }
.pfi-groceries:before { content: "\eb62"; }
.pfi-group-alt-1:before { content: "\eb63"; }
.pfi-group:before { content: "\eb64"; }
.pfi-guitar-pick:before { content: "\eb65"; }
.pfi-gym:before { content: "\eb66"; }
.pfi-hamburger-vertical:before { content: "\eb67"; }
.pfi-hamburger:before { content: "\eb68"; }
.pfi-hazard-caustic:before { content: "\eb69"; }
.pfi-hazard-environmental:before { content: "\eb6a"; }
.pfi-hazard-explosive:before { content: "\eb6b"; }
.pfi-hazard-flammable:before { content: "\eb6c"; }
.pfi-hazard-oxidizing:before { content: "\eb6d"; }
.pfi-hazard-toxic:before { content: "\eb6e"; }
.pfi-hazard:before { content: "\eb6f"; }
.pfi-headphones:before { content: "\eb70"; }
.pfi-heart-beat:before { content: "\eb71"; }
.pfi-heart:before { content: "\eb72"; }
.pfi-helmet:before { content: "\eb73"; }
.pfi-help:before { content: "\eb74"; }
.pfi-hex-hive-alt-1:before { content: "\eb75"; }
.pfi-hex-hive-alt-2:before { content: "\eb76"; }
.pfi-hex-hive-alt-3:before { content: "\eb77"; }
.pfi-hex-hive-alt-4:before { content: "\eb78"; }
.pfi-hex-hive-alt-5:before { content: "\eb79"; }
.pfi-hex-hive:before { content: "\eb7a"; }
.pfi-highlight:before { content: "\eb7b"; }
.pfi-history-alt-1:before { content: "\eb7c"; }
.pfi-history:before { content: "\eb7d"; }
.pfi-hole:before { content: "\eb7e"; }
.pfi-home:before { content: "\eb7f"; }
.pfi-hourglass:before { content: "\eb80"; }
.pfi-i:before { content: "\eb81"; }
.pfi-iam-mgmt:before { content: "\eb82"; }
.pfi-icons:before { content: "\eb83"; }
.pfi-id-card:before { content: "\eb84"; }
.pfi-idea:before { content: "\eb85"; }
.pfi-image:before { content: "\eb86"; }
.pfi-inbox:before { content: "\eb87"; }
.pfi-infinity:before { content: "\eb88"; }
.pfi-info-circle:before { content: "\eb89"; }
.pfi-info:before { content: "\eb8a"; }
.pfi-instance:before { content: "\eb8b"; }
.pfi-instructor-teacher:before { content: "\eb8c"; }
.pfi-internet:before { content: "\eb8d"; }
.pfi-iot:before { content: "\eb8e"; }
.pfi-italic:before { content: "\eb8f"; }
.pfi-jar:before { content: "\eb90"; }
.pfi-jolly-wrench:before { content: "\eb91"; }
.pfi-journal:before { content: "\eb92"; }
.pfi-key-alt-1:before { content: "\eb93"; }
.pfi-key:before { content: "\eb94"; }
.pfi-keyboard-alt-1:before { content: "\eb95"; }
.pfi-keyboard:before { content: "\eb96"; }
.pfi-knowledge-management:before { content: "\eb97"; }
.pfi-laptop-alt-1:before { content: "\eb98"; }
.pfi-laptop:before { content: "\eb99"; }
.pfi-laser-blast:before { content: "\eb9a"; }
.pfi-laser-warning-alt-1:before { content: "\eb9b"; }
.pfi-laser-warning:before { content: "\eb9c"; }
.pfi-leadership-alt-1:before { content: "\eb9d"; }
.pfi-leadership:before { content: "\eb9e"; }
.pfi-leaf:before { content: "\eb9f"; }
.pfi-lessons-learned:before { content: "\eba0"; }
.pfi-letter-alt-1:before { content: "\eba1"; }
.pfi-letter-alt-2:before { content: "\eba2"; }
.pfi-letter:before { content: "\eba3"; }
.pfi-library:before { content: "\eba4"; }
.pfi-light-bulb-lit:before { content: "\eba5"; }
.pfi-light-bulb:before { content: "\eba6"; }
.pfi-link-broken:before { content: "\eba7"; }
.pfi-link:before { content: "\eba8"; }
.pfi-list-add:before { content: "\eba9"; }
.pfi-list-bullet:before { content: "\ebaa"; }
.pfi-list-numbered:before { content: "\ebab"; }
.pfi-little-dancing-man:before { content: "\ebac"; }
.pfi-loading-0:before { content: "\ebad"; }
.pfi-loading-10:before { content: "\ebae"; }
.pfi-loading-100:before { content: "\ebaf"; }
.pfi-loading-20:before { content: "\ebb0"; }
.pfi-loading-30:before { content: "\ebb1"; }
.pfi-loading-40:before { content: "\ebb2"; }
.pfi-loading-50:before { content: "\ebb3"; }
.pfi-loading-60:before { content: "\ebb4"; }
.pfi-loading-70:before { content: "\ebb5"; }
.pfi-loading-80:before { content: "\ebb6"; }
.pfi-loading-90:before { content: "\ebb7"; }
.pfi-location:before { content: "\ebb8"; }
.pfi-lock-closed:before { content: "\ebb9"; }
.pfi-lock-open:before { content: "\ebba"; }
.pfi-luchador:before { content: "\ebbb"; }
.pfi-magnet:before { content: "\ebbc"; }
.pfi-magnify-zoom-in:before { content: "\ebbd"; }
.pfi-magnify-zoom-out:before { content: "\ebbe"; }
.pfi-magnify:before { content: "\ebbf"; }
.pfi-make:before { content: "\ebc0"; }
.pfi-management-2:before { content: "\ebc1"; }
.pfi-management-3:before { content: "\ebc2"; }
.pfi-management-4:before { content: "\ebc3"; }
.pfi-management:before { content: "\ebc4"; }
.pfi-map-trifold:before { content: "\ebc5"; }
.pfi-map:before { content: "\ebc6"; }
.pfi-math-divide:before { content: "\ebc7"; }
.pfi-math-equal:before { content: "\ebc8"; }
.pfi-math-greater-than:before { content: "\ebc9"; }
.pfi-math-less-than:before { content: "\ebca"; }
.pfi-math-minus:before { content: "\ebcb"; }
.pfi-math-multiply:before { content: "\ebcc"; }
.pfi-math-percent:before { content: "\ebcd"; }
.pfi-math-plus:before { content: "\ebce"; }
.pfi-math-square-root:before { content: "\ebcf"; }
.pfi-matlab:before { content: "\ebd0"; }
.pfi-maximize:before { content: "\ebd1"; }
.pfi-meal:before { content: "\ebd2"; }
.pfi-media-backward:before { content: "\ebd3"; }
.pfi-media-forward:before { content: "\ebd4"; }
.pfi-media-pause:before { content: "\ebd5"; }
.pfi-media-play:before { content: "\ebd6"; }
.pfi-media-skip-backward:before { content: "\ebd7"; }
.pfi-media-skip-forward:before { content: "\ebd8"; }
.pfi-mem-מ:before { content: "\ebd9"; }
.pfi-menu-dots-horizontal:before { content: "\ebda"; }
.pfi-menu-dots-vertical:before { content: "\ebdb"; }
.pfi-meter-tach-alt-1:before { content: "\ebdc"; }
.pfi-meter-tach:before { content: "\ebdd"; }
.pfi-mgmt:before { content: "\ebde"; }
.pfi-microphone-mute:before { content: "\ebdf"; }
.pfi-microphone:before { content: "\ebe0"; }
.pfi-minimize:before { content: "\ebe1"; }
.pfi-mit:before { content: "\ebe2"; }
.pfi-mongodb:before { content: "\ebe3"; }
.pfi-monitor-screen:before { content: "\ebe4"; }
.pfi-mouse:before { content: "\ebe5"; }
.pfi-move:before { content: "\ebe6"; }
.pfi-mushroom-alt-1:before { content: "\ebe7"; }
.pfi-mushroom:before { content: "\ebe8"; }
.pfi-musical-note-bass-clef:before { content: "\ebe9"; }
.pfi-musical-note-beamed-eighth:before { content: "\ebea"; }
.pfi-musical-note-eighth:before { content: "\ebeb"; }
.pfi-musical-note-flat:before { content: "\ebec"; }
.pfi-musical-note-half:before { content: "\ebed"; }
.pfi-musical-note-quarter:before { content: "\ebee"; }
.pfi-musical-note-sharp:before { content: "\ebef"; }
.pfi-musical-note-treble-clef:before { content: "\ebf0"; }
.pfi-musical-note-whole:before { content: "\ebf1"; }
.pfi-mustache:before { content: "\ebf2"; }
.pfi-mwr:before { content: "\ebf3"; }
.pfi-na:before { content: "\ebf4"; }
.pfi-name-badge:before { content: "\ebf5"; }
.pfi-net-cable-modem:before { content: "\ebf6"; }
.pfi-net-cluster:before { content: "\ebf7"; }
.pfi-net-firewall:before { content: "\ebf8"; }
.pfi-net-load-balancer-pool:before { content: "\ebf9"; }
.pfi-net-router:before { content: "\ebfa"; }
.pfi-net-switch:before { content: "\ebfb"; }
.pfi-net-wireless-access-point:before { content: "\ebfc"; }
.pfi-network-user-agreement:before { content: "\ebfd"; }
.pfi-nginx:before { content: "\ebfe"; }
.pfi-note-pad:before { content: "\ebff"; }
.pfi-notes:before { content: "\ec00"; }
.pfi-npm:before { content: "\ec01"; }
.pfi-operations:before { content: "\ec02"; }
.pfi-org-apache-server-feather:before { content: "\ec03"; }
.pfi-org-arduino-alt-1:before { content: "\ec04"; }
.pfi-org-arduino:before { content: "\ec05"; }
.pfi-org-humble-bundle-alt-1:before { content: "\ec06"; }
.pfi-org-humble-bundle:before { content: "\ec07"; }
.pfi-org-instructables:before { content: "\ec08"; }
.pfi-org-nasa:before { content: "\ec09"; }
.pfi-org-noaa:before { content: "\ec0a"; }
.pfi-org-nodejs:before { content: "\ec0b"; }
.pfi-org-npr:before { content: "\ec0c"; }
.pfi-org-open-source-hardware-oshwa:before { content: "\ec0d"; }
.pfi-org-open-source:before { content: "\ec0e"; }
.pfi-org-usps:before { content: "\ec0f"; }
.pfi-org-wiki:before { content: "\ec10"; }
.pfi-org-wikimedia:before { content: "\ec11"; }
.pfi-org-y-combinator:before { content: "\ec12"; }
.pfi-organization-hierarchy-alt-1:before { content: "\ec13"; }
.pfi-organization-hierarchy-alt-2:before { content: "\ec14"; }
.pfi-organization-hierarchy:before { content: "\ec15"; }
.pfi-os-arch:before { content: "\ec16"; }
.pfi-os-debian:before { content: "\ec17"; }
.pfi-os-fedora:before { content: "\ec18"; }
.pfi-os-linux-dark:before { content: "\ec19"; }
.pfi-os-linux:before { content: "\ec1a"; }
.pfi-os-red-hat:before { content: "\ec1b"; }
.pfi-os-ubuntu:before { content: "\ec1c"; }
.pfi-os-wayland:before { content: "\ec1d"; }
.pfi-os-windows:before { content: "\ec1e"; }
.pfi-paleography:before { content: "\ec1f"; }
.pfi-paper-roll:before { content: "\ec20"; }
.pfi-paperclip:before { content: "\ec21"; }
.pfi-parking-lot:before { content: "\ec22"; }
.pfi-pencil:before { content: "\ec23"; }
.pfi-people-ada-lovelace:before { content: "\ec24"; }
.pfi-people-einstein:before { content: "\ec25"; }
.pfi-people-feynman:before { content: "\ec26"; }
.pfi-people-nikola-tesla:before { content: "\ec27"; }
.pfi-phone-cell-android:before { content: "\ec28"; }
.pfi-phone-cell-iphone:before { content: "\ec29"; }
.pfi-phone-roster:before { content: "\ec2a"; }
.pfi-phone:before { content: "\ec2b"; }
.pfi-physics-alt:before { content: "\ec2c"; }
.pfi-physics:before { content: "\ec2d"; }
.pfi-pill-solid:before { content: "\ec2e"; }
.pfi-pill-tab-left:before { content: "\ec2f"; }
.pfi-pill-tab-right:before { content: "\ec30"; }
.pfi-pin:before { content: "\ec31"; }
.pfi-plant-flower:before { content: "\ec32"; }
.pfi-plant-sunflower:before { content: "\ec33"; }
.pfi-plant:before { content: "\ec34"; }
.pfi-platform-android:before { content: "\ec35"; }
.pfi-platform-mqtt:before { content: "\ec36"; }
.pfi-platform-node-red:before { content: "\ec37"; }
.pfi-platform-rabbit-mq:before { content: "\ec38"; }
.pfi-platform-windoz:before { content: "\ec39"; }
.pfi-platform-wordpress:before { content: "\ec3a"; }
.pfi-plug:before { content: "\ec3b"; }
.pfi-poc-workspace:before { content: "\ec3c"; }
.pfi-podcast:before { content: "\ec3d"; }
.pfi-podium-alt:before { content: "\ec3e"; }
.pfi-podium-manned-book:before { content: "\ec3f"; }
.pfi-podium-manned:before { content: "\ec40"; }
.pfi-podium:before { content: "\ec41"; }
.pfi-pointer-hand-grab:before { content: "\ec42"; }
.pfi-pointer-hand:before { content: "\ec43"; }
.pfi-pointer-mouse:before { content: "\ec44"; }
.pfi-power:before { content: "\ec45"; }
.pfi-printer:before { content: "\ec46"; }
.pfi-produce-apple:before { content: "\ec47"; }
.pfi-produce-bean:before { content: "\ec48"; }
.pfi-produce-broccoli:before { content: "\ec49"; }
.pfi-produce-carrot:before { content: "\ec4a"; }
.pfi-produce-cherries:before { content: "\ec4b"; }
.pfi-produce-corn:before { content: "\ec4c"; }
.pfi-produce-eggplant:before { content: "\ec4d"; }
.pfi-produce-grape:before { content: "\ec4e"; }
.pfi-produce-orange:before { content: "\ec4f"; }
.pfi-produce-pear:before { content: "\ec50"; }
.pfi-produce-pepper-chili:before { content: "\ec51"; }
.pfi-produce-pepper-jalapeno:before { content: "\ec52"; }
.pfi-produce-pineapple:before { content: "\ec53"; }
.pfi-produce-strawberry:before { content: "\ec54"; }
.pfi-produce-watermelon:before { content: "\ec55"; }
.pfi-profile-circle:before { content: "\ec56"; }
.pfi-profile:before { content: "\ec57"; }
.pfi-programming-ada:before { content: "\ec58"; }
.pfi-programming-apache-cordova:before { content: "\ec59"; }
.pfi-programming-apache-couch-db:before { content: "\ec5a"; }
.pfi-programming-apache-kafka:before { content: "\ec5b"; }
.pfi-programming-apache-net-beans:before { content: "\ec5c"; }
.pfi-programming-assembly:before { content: "\ec5d"; }
.pfi-programming-bash:before { content: "\ec5e"; }
.pfi-programming-c-plus-plus:before { content: "\ec5f"; }
.pfi-programming-c-sharp:before { content: "\ec60"; }
.pfi-programming-carbon:before { content: "\ec61"; }
.pfi-programming-dart:before { content: "\ec62"; }
.pfi-programming-erlang:before { content: "\ec63"; }
.pfi-programming-f-sharp:before { content: "\ec64"; }
.pfi-programming-fortran:before { content: "\ec65"; }
.pfi-programming-framework-react:before { content: "\ec66"; }
.pfi-programming-go:before { content: "\ec67"; }
.pfi-programming-haskell:before { content: "\ec68"; }
.pfi-programming-java:before { content: "\ec69"; }
.pfi-programming-javascript:before { content: "\ec6a"; }
.pfi-programming-kotlin:before { content: "\ec6b"; }
.pfi-programming-lisp:before { content: "\ec6c"; }
.pfi-programming-nodejs-alt:before { content: "\ec6d"; }
.pfi-programming-o-caml:before { content: "\ec6e"; }
.pfi-programming-objective-c:before { content: "\ec6f"; }
.pfi-programming-php:before { content: "\ec70"; }
.pfi-programming-python:before { content: "\ec71"; }
.pfi-programming-rust:before { content: "\ec72"; }
.pfi-programming-typescript:before { content: "\ec73"; }
.pfi-project-cycle:before { content: "\ec74"; }
.pfi-project-mgmt:before { content: "\ec75"; }
.pfi-project:before { content: "\ec76"; }
.pfi-projector-screen:before { content: "\ec77"; }
.pfi-projector:before { content: "\ec78"; }
.pfi-property-book:before { content: "\ec79"; }
.pfi-pulse-circle:before { content: "\ec7a"; }
.pfi-pulse:before { content: "\ec7b"; }
.pfi-puzzle-piece:before { content: "\ec7c"; }
.pfi-qr-code:before { content: "\ec7d"; }
.pfi-question-circle:before { content: "\ec7e"; }
.pfi-question:before { content: "\ec7f"; }
.pfi-radiation-alt-1:before { content: "\ec80"; }
.pfi-radiation:before { content: "\ec81"; }
.pfi-radio-handheld:before { content: "\ec82"; }
.pfi-radio:before { content: "\ec83"; }
.pfi-raspberry-pi:before { content: "\ec84"; }
.pfi-record:before { content: "\ec85"; }
.pfi-redis:before { content: "\ec86"; }
.pfi-redo:before { content: "\ec87"; }
.pfi-refresh:before { content: "\ec88"; }
.pfi-registration-desk:before { content: "\ec89"; }
.pfi-reports:before { content: "\ec8a"; }
.pfi-retro-logo-badge-alt-1:before { content: "\ec8b"; }
.pfi-retro-logo-badge-alt-2:before { content: "\ec8c"; }
.pfi-retro-logo-badge-alt-3:before { content: "\ec8d"; }
.pfi-retro-logo-badge:before { content: "\ec8e"; }
.pfi-retro-logo-circle:before { content: "\ec8f"; }
.pfi-retro-logo-ribbon-alt-1:before { content: "\ec90"; }
.pfi-retro-logo-ribbon-alt-2:before { content: "\ec91"; }
.pfi-retro-logo-ribbon-ends:before { content: "\ec92"; }
.pfi-retro-logo-ribbon:before { content: "\ec93"; }
.pfi-rfid:before { content: "\ec94"; }
.pfi-ribbon:before { content: "\ec95"; }
.pfi-river-stream-creek:before { content: "\ec96"; }
.pfi-road-cone:before { content: "\ec97"; }
.pfi-robotics-arm-automation:before { content: "\ec98"; }
.pfi-rocket:before { content: "\ec99"; }
.pfi-rss:before { content: "\ec9a"; }
.pfi-ruck:before { content: "\ec9b"; }
.pfi-safe:before { content: "\ec9c"; }
.pfi-satellite-dish:before { content: "\ec9d"; }
.pfi-satellite:before { content: "\ec9e"; }
.pfi-sauce:before { content: "\ec9f"; }
.pfi-scale:before { content: "\eca0"; }
.pfi-scissors:before { content: "\eca1"; }
.pfi-scroll-filled-alt:before { content: "\eca2"; }
.pfi-scroll-filled:before { content: "\eca3"; }
.pfi-scroll-horizontal:before { content: "\eca4"; }
.pfi-scroll-vertical:before { content: "\eca5"; }
.pfi-scroll:before { content: "\eca6"; }
.pfi-server:before { content: "\eca7"; }
.pfi-seven-segment-0:before { content: "\eca8"; }
.pfi-seven-segment-1:before { content: "\eca9"; }
.pfi-seven-segment-2:before { content: "\ecaa"; }
.pfi-seven-segment-3:before { content: "\ecab"; }
.pfi-seven-segment-4:before { content: "\ecac"; }
.pfi-seven-segment-5:before { content: "\ecad"; }
.pfi-seven-segment-6:before { content: "\ecae"; }
.pfi-seven-segment-7:before { content: "\ecaf"; }
.pfi-seven-segment-8:before { content: "\ecb0"; }
.pfi-seven-segment-9:before { content: "\ecb1"; }
.pfi-seven-segment:before { content: "\ecb2"; }
.pfi-share:before { content: "\ecb3"; }
.pfi-shield:before { content: "\ecb4"; }
.pfi-shopping-cart:before { content: "\ecb5"; }
.pfi-sights:before { content: "\ecb6"; }
.pfi-signal:before { content: "\ecb7"; }
.pfi-signature:before { content: "\ecb8"; }
.pfi-silo:before { content: "\ecb9"; }
.pfi-skull-crossbones-alt:before { content: "\ecba"; }
.pfi-skull-crossbones:before { content: "\ecbb"; }
.pfi-social-facebook:before { content: "\ecbc"; }
.pfi-social-hacker-news:before { content: "\ecbd"; }
.pfi-social-instagram:before { content: "\ecbe"; }
.pfi-social-linkedin:before { content: "\ecbf"; }
.pfi-social-reddit:before { content: "\ecc0"; }
.pfi-social-serverfault:before { content: "\ecc1"; }
.pfi-social-snapchat:before { content: "\ecc2"; }
.pfi-social-stackoverflow:before { content: "\ecc3"; }
.pfi-social-tiktok:before { content: "\ecc4"; }
.pfi-social-tumbler:before { content: "\ecc5"; }
.pfi-social-twitter:before { content: "\ecc6"; }
.pfi-social-vimeo:before { content: "\ecc7"; }
.pfi-social-vine:before { content: "\ecc8"; }
.pfi-social-youtube:before { content: "\ecc9"; }
.pfi-software-browser-brave:before { content: "\ecca"; }
.pfi-software-browser-chrome:before { content: "\eccb"; }
.pfi-software-browser-edge:before { content: "\eccc"; }
.pfi-software-browser-firefox:before { content: "\eccd"; }
.pfi-software-browser-safari:before { content: "\ecce"; }
.pfi-software-evernote:before { content: "\eccf"; }
.pfi-software-gimp:before { content: "\ecd0"; }
.pfi-software-git:before { content: "\ecd1"; }
.pfi-software-gitea:before { content: "\ecd2"; }
.pfi-software-gnome:before { content: "\ecd3"; }
.pfi-software-google-drive:before { content: "\ecd4"; }
.pfi-software-inkscape:before { content: "\ecd5"; }
.pfi-software-leaflet:before { content: "\ecd6"; }
.pfi-software-ms-365:before { content: "\ecd7"; }
.pfi-software-ms-excel:before { content: "\ecd8"; }
.pfi-software-ms-one-drive:before { content: "\ecd9"; }
.pfi-software-ms-outlook:before { content: "\ecda"; }
.pfi-software-ms-powerpoint:before { content: "\ecdb"; }
.pfi-software-ms-sharepoint:before { content: "\ecdc"; }
.pfi-software-ms-teams:before { content: "\ecdd"; }
.pfi-software-ms-word:before { content: "\ecde"; }
.pfi-software-notepad-plus-plus:before { content: "\ecdf"; }
.pfi-software-signal-msg:before { content: "\ece0"; }
.pfi-software-slack:before { content: "\ece1"; }
.pfi-software-svn-tortoise:before { content: "\ece2"; }
.pfi-software-trello:before { content: "\ece3"; }
.pfi-software-vlc:before { content: "\ece4"; }
.pfi-software-webpack:before { content: "\ece5"; }
.pfi-solar-panel:before { content: "\ece6"; }
.pfi-sop:before { content: "\ece7"; }
.pfi-speaker-off:before { content: "\ece8"; }
.pfi-speaker-on:before { content: "\ece9"; }
.pfi-spinner-0:before { content: "\ecea"; }
.pfi-spinner-1:before { content: "\eceb"; }
.pfi-spinner-2:before { content: "\ecec"; }
.pfi-spinner-3:before { content: "\eced"; }
.pfi-spinner-4:before { content: "\ecee"; }
.pfi-spinner-5:before { content: "\ecef"; }
.pfi-spinner-6:before { content: "\ecf0"; }
.pfi-spinner-7:before { content: "\ecf1"; }
.pfi-sport-baseball:before { content: "\ecf2"; }
.pfi-sport-basketball:before { content: "\ecf3"; }
.pfi-sport-football:before { content: "\ecf4"; }
.pfi-sport-golf-ball:before { content: "\ecf5"; }
.pfi-sport-tennis-ball:before { content: "\ecf6"; }
.pfi-sport-volleyball:before { content: "\ecf7"; }
.pfi-stamp:before { content: "\ecf8"; }
.pfi-star-empty:before { content: "\ecf9"; }
.pfi-star-filled:before { content: "\ecfa"; }
.pfi-star-half:before { content: "\ecfb"; }
.pfi-state-ak:before { content: "\ecfc"; }
.pfi-state-al:before { content: "\ecfd"; }
.pfi-state-ar:before { content: "\ecfe"; }
.pfi-state-az:before { content: "\ecff"; }
.pfi-state-ca:before { content: "\ed00"; }
.pfi-state-co:before { content: "\ed01"; }
.pfi-state-ct:before { content: "\ed02"; }
.pfi-state-dc:before { content: "\ed03"; }
.pfi-state-de:before { content: "\ed04"; }
.pfi-state-fl:before { content: "\ed05"; }
.pfi-state-ga:before { content: "\ed06"; }
.pfi-state-hi:before { content: "\ed07"; }
.pfi-state-ia:before { content: "\ed08"; }
.pfi-state-id:before { content: "\ed09"; }
.pfi-state-il:before { content: "\ed0a"; }
.pfi-state-in:before { content: "\ed0b"; }
.pfi-state-ks:before { content: "\ed0c"; }
.pfi-state-ky:before { content: "\ed0d"; }
.pfi-state-la:before { content: "\ed0e"; }
.pfi-state-ma:before { content: "\ed0f"; }
.pfi-state-md:before { content: "\ed10"; }
.pfi-state-me:before { content: "\ed11"; }
.pfi-state-mi:before { content: "\ed12"; }
.pfi-state-mn:before { content: "\ed13"; }
.pfi-state-mo:before { content: "\ed14"; }
.pfi-state-ms:before { content: "\ed15"; }
.pfi-state-mt:before { content: "\ed16"; }
.pfi-state-nc:before { content: "\ed17"; }
.pfi-state-nd:before { content: "\ed18"; }
.pfi-state-ne:before { content: "\ed19"; }
.pfi-state-nh:before { content: "\ed1a"; }
.pfi-state-nj:before { content: "\ed1b"; }
.pfi-state-nm:before { content: "\ed1c"; }
.pfi-state-nv:before { content: "\ed1d"; }
.pfi-state-ny:before { content: "\ed1e"; }
.pfi-state-oh:before { content: "\ed1f"; }
.pfi-state-ok:before { content: "\ed20"; }
.pfi-state-or:before { content: "\ed21"; }
.pfi-state-pa:before { content: "\ed22"; }
.pfi-state-pr:before { content: "\ed23"; }
.pfi-state-ri:before { content: "\ed24"; }
.pfi-state-sc:before { content: "\ed25"; }
.pfi-state-sd:before { content: "\ed26"; }
.pfi-state-tn:before { content: "\ed27"; }
.pfi-state-tx:before { content: "\ed28"; }
.pfi-state-ut:before { content: "\ed29"; }
.pfi-state-va:before { content: "\ed2a"; }
.pfi-state-vt:before { content: "\ed2b"; }
.pfi-state-wa:before { content: "\ed2c"; }
.pfi-state-wi:before { content: "\ed2d"; }
.pfi-state-wv:before { content: "\ed2e"; }
.pfi-state-wy:before { content: "\ed2f"; }
.pfi-sticky-note:before { content: "\ed30"; }
.pfi-stop-light:before { content: "\ed31"; }
.pfi-stop-sign:before { content: "\ed32"; }
.pfi-store-marketplace:before { content: "\ed33"; }
.pfi-strategy:before { content: "\ed34"; }
.pfi-strikethrough:before { content: "\ed35"; }
.pfi-subscript:before { content: "\ed36"; }
.pfi-superscript:before { content: "\ed37"; }
.pfi-support:before { content: "\ed38"; }
.pfi-sw-rebel-alliance:before { content: "\ed39"; }
.pfi-sw-republic:before { content: "\ed3a"; }
.pfi-tag:before { content: "\ed3b"; }
.pfi-tags:before { content: "\ed3c"; }
.pfi-target:before { content: "\ed3d"; }
.pfi-task-assign:before { content: "\ed3e"; }
.pfi-task-mgmt:before { content: "\ed3f"; }
.pfi-task:before { content: "\ed40"; }
.pfi-tattoo-gun:before { content: "\ed41"; }
.pfi-template:before { content: "\ed42"; }
.pfi-terminal:before { content: "\ed43"; }
.pfi-testing:before { content: "\ed44"; }
.pfi-thumb-down-empty:before { content: "\ed45"; }
.pfi-thumb-down-filled:before { content: "\ed46"; }
.pfi-thumb-up-empty:before { content: "\ed47"; }
.pfi-thumb-up-filled:before { content: "\ed48"; }
.pfi-thumbtack:before { content: "\ed49"; }
.pfi-tie:before { content: "\ed4a"; }
.pfi-timeline-alt-1:before { content: "\ed4b"; }
.pfi-timeline-alt-2:before { content: "\ed4c"; }
.pfi-timeline:before { content: "\ed4d"; }
.pfi-toggle-off:before { content: "\ed4e"; }
.pfi-toggle-on:before { content: "\ed4f"; }
.pfi-toilet:before { content: "\ed50"; }
.pfi-tool-broom:before { content: "\ed51"; }
.pfi-tool-hammer:before { content: "\ed52"; }
.pfi-tool-knife:before { content: "\ed53"; }
.pfi-tool-pick-axe:before { content: "\ed54"; }
.pfi-tool-saw:before { content: "\ed55"; }
.pfi-tool-screw-driver:before { content: "\ed56"; }
.pfi-tool-shovel:before { content: "\ed57"; }
.pfi-tool-square:before { content: "\ed58"; }
.pfi-tool-weld-helmet:before { content: "\ed59"; }
.pfi-tool-wrench:before { content: "\ed5a"; }
.pfi-torch:before { content: "\ed5b"; }
.pfi-training-mgmt:before { content: "\ed5c"; }
.pfi-translation:before { content: "\ed5d"; }
.pfi-trash:before { content: "\ed5e"; }
.pfi-trogdor:before { content: "\ed5f"; }
.pfi-trophy:before { content: "\ed60"; }
.pfi-undo:before { content: "\ed61"; }
.pfi-usage-stats:before { content: "\ed62"; }
.pfi-usb:before { content: "\ed63"; }
.pfi-valve:before { content: "\ed64"; }
.pfi-version:before { content: "\ed65"; }
.pfi-versions:before { content: "\ed66"; }
.pfi-vr:before { content: "\ed67"; }
.pfi-waveform-saw-tooth:before { content: "\ed68"; }
.pfi-waveform-sine:before { content: "\ed69"; }
.pfi-waveform-square:before { content: "\ed6a"; }
.pfi-waveform-triangle:before { content: "\ed6b"; }
.pfi-welcome-letter-alt-1:before { content: "\ed6c"; }
.pfi-welcome-letter:before { content: "\ed6d"; }
.pfi-wifi-router:before { content: "\ed6e"; }
.pfi-wifi:before { content: "\ed6f"; }
.pfi-world-globe-alt-1:before { content: "\ed70"; }
.pfi-world-globe-alt-2:before { content: "\ed71"; }
.pfi-world-globe:before { content: "\ed72"; }
.pfi-X:before { content: "\ed73"; }
